.background-color  {
    background: #3D3D3D;
}

.homePageColor  {
    background: #215A7A;
}

.blog-page-color {
background: #aa6523;
}

.galleryPageColor {
    background: #217A3F;
}

.contactMePageColor {
    background: #48217A;
}