.background-color  {
    background: #3D3D3D;
}
.home-page-color  {
    background: #215A7A;
}
.blog-page-color {
    background: #aa6523;
}
.gallery-page-color {
    background: #217A3F;
}
.contact-me-page-color {
    background: #48217A;
}