.date-style {
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
    float: top;
    padding-right: 20px;
}
.nav-links-small {
    font-size: large;
    padding-top: 60px;
    position:  relative;
    left: 2.5%;
    color: black;
    display: flex;
    list-style: none;
    padding-left: unset;
}
.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .profile-pic-pos {
        margin: auto;
    }
}
@media screen and (min-width: 600px) {
    .profile-pic-pos {
        float: right;
    }
}

@media screen and (max-width: 819px) {
    .page-style-width {
        width: 100%;
        overflow: hidden;
    }
    .title-style-padding {
        padding-top: 0;
    }
    .headline-pos {
        left: 2.5%;
    }
    .date-style-float {
        float: top;
    }
    .header-button-hide {
        display: none;
    }
}

@media screen and (min-width: 820px) {
    .page-style-width {
        width: 75%;
    }
    .title-style-padding {
        padding-top: 100px;
    }
    .headline-pos {
        left: 12.5%;
    }
    .sidebar {
        position: fixed;
        left: 0; top: 0;
        height: 100vh; width: 50px;
        box-shadow: 0 0 3px;
    }
    .date-style-float {
        float: right;
    }
    .nav-links-hide {
        display: none;
    }
}