.page-style {
    font-family: sans-serif;
    background: white;
    position: relative;
    margin: auto;
    min-height: 100vh;
}
.dateStyle {
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
    float: top;
    padding-right: 20px;
}

@media screen and (max-width: 820px) {
    .page-style-width {
        width: 100%;
    }
    .date-style-float {
        float: top;
    }
    /*TODO hide buttons and use a hamburger-menu*/
}

@media screen and (min-width: 820px) {
    .page-style-width {
        width: 75%;
    }
    .sidebar {
        position: fixed;
        left: 0; top: 0;
        height: 100vh; width: 50px;
        box-shadow: 0 0 3px;
    }
    .date-style-float {
        float: right;
    }
}