.page {
    background: white;
    position: relative;
    left: 25%;
    top: 80px;
    width: 50%; height: 100%; /*TODO relative size based on the size of the screen*/
}

.aboutMe {
    position: relative;
    left: 5%; top: 10%; /*TODO Center*/
    width: 90%; height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutMeText {
    border: solid grey;
    position: absolute;
    left: 2.5%;
    width: 95%; height: fit-content;
}

.aboutMePic {
    position: relative;
    float: right;
    width: 250px;
    padding: 10px;
}