.page-style {
    font-family: sans-serif;
    background: white;
    position: relative;
    margin: auto;
    min-height: 100vh;
}
.title-style {
    position: relative;
    left: 2.5%;
    width: 95%;
}
.about-me-pic {
    position: relative;
    width: 250px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    right: 10px;
}
.date-style {
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
    float: top;
    padding-right: 20px;
}
.icon-style {
    max-width: 28px;
    margin: auto;
}