.page-style {
    font-family: sans-serif;
    background: white;
    position: relative;
    margin: auto;
    min-height: 100vh;
}
.title-style {
    position: relative;
    left: 2.5%;
    width: 95%;
}
.about-me-pic {
    position: relative;
    width: 250px;
    padding-bottom: 10px;
}
.date-style {
    padding-left: 20px;
    position: relative;
    padding-right: 10px;
    width: fit-content;
}
.icon-style {
    max-width: 28px;
    margin: auto;
    padding-top: 3px;
    color: white;
}
.card-title-style {
    position: relative;
    padding-left: 20px;
    width: 90%;
}
.card-image-style {
    position: relative;
    max-width: 300px; max-height: 500px;
    margin-left: 25px;
    right: 10px;
}
.empty-page-style {
    display: flex;
    justify-content: center;
}
.details-style {
    display: flex;
    padding-right: 10px;
}
